<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.a_zpharmacy">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AZPharmacy"
        tools:targetApi="31">
        <activity
            android:name=".Shower_Gel"
            android:exported="false" />
        <activity
            android:name=".Shampoo_Baby"
            android:exported="false" />
        <activity
            android:name=".Serum"
            android:exported="false" />
        <activity
            android:name=".Shampoo"
            android:exported="false" />
        <activity
            android:name=".Oils"
            android:exported="false" />
        <activity
            android:name=".Creams"
            android:exported="false" />
        <activity
            android:name=".Mascara"
            android:exported="false" />
        <activity
            android:name=".LipBalm"
            android:exported="false" />
        <activity
            android:name=".LipStick"
            android:exported="false" />
        <activity
            android:name=".Foundation"
            android:exported="false" />
        <activity
            android:name=".Solutions"
            android:exported="false" />
        <activity
            android:name=".Ointments"
            android:exported="false" />
        <activity
            android:name=".Injections"
            android:exported="false" />
        <activity
            android:name=".Tablets"
            android:exported="false" />
        <activity
            android:name=".Baby"
            android:exported="false" />
        <activity
            android:name=".SkinCareSection"
            android:exported="false" />
        <activity
            android:name=".MakeUpSection"
            android:exported="false" />
        <activity
            android:name=".MedicineSection"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sections"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true" />
    </application>

</manifest>